* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* generale */
ul {
  list-style: none;
}
/* /generale */

/* header */
header {
  height: 100px;
  padding: 20px 0;
  background-color: #19191c;
  color: #444439;
}
h1,
header p {
  text-align: center;
  font-weight: 700;
}
/* /header */

/* main */
main {
  height: calc(100vh - 100px);
  padding: 20px;
  background-color: #9c4d21;
}
.todo_input {
  margin: 10px 0;
}
.todo_input > input {
  height: 40px;
  width: 200px;
  margin-right: 10px;
  padding: 10px;
  background-color: #19191c;
  color: #ffffff;
  border: 2px solid #e0df12;
  border-radius: 20px;
  text-transform: uppercase;
}
.todo_input > input:focus {
  outline: none;
}
.todo_input > button {
  padding: 10px;
  color: #000000;
  font-weight: 700;
  border: 2px solid #e0df12;
  border-radius: 10px;
  background-color: #6d6d79;
  cursor: pointer;
  text-transform: uppercase;
}
#todo_list {
  margin: 20px 0;
}
#todo_list li {
  display: flex;
  width: 400px;
  height: 30px;
  margin: 10px 0;
  padding: 5px;
  border-bottom: 1px solid black;
}
#todo_list li .li_content {
  width: 95%;
  height: 100%;
  font-weight: 500;
}
#todo_list li span {
  display: inline-block;
  width: 5%;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ffffff;
}
#todo_list li span i {
  cursor: pointer;
}
/* /main */
